#about-banner {
    height: 223px;
    border-radius: 25px;
    overflow: hidden;
    position: relative;
    margin: 20px 0;

    img {
        width: 100%;
        height: 100%;
    }

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        background-color: rgba($color: #000000, $alpha: 0.3);
    }
}

.about-dropdowns {
    width: 100%;
    max-width: 1023px;
    min-width: 335px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-bottom: 20px;

    button {
        span {
            font-size: 24px;
        }
    }

    .dropdown-content {
        p {
            font-size: 24px;
        }
    }
}

@media(max-width: 375px) {
    .container {
        margin-inline: 20px;

        #about-banner {
            margin-inline: 0;
            height: 223px;
        }

        .about-dropdowns {



            .accordion {
                button {
                    align-items: center;
                    height: 30px;

                    span {
                        font-size: 13px;
                    }

                    .arrow {
                        font-size: 16px;
                        margin-top: 6px;
                    }
                }

                .dropdown-content {
                    p {
                        font-size: 12px;
                        padding: 20px 0 60px 10px;
                    }
                }
            }
        }
    }
}