.accordion {
    width: 100%;

    button {
        width: 100%;
        border-radius: 10px;
        background: #FF6060;
        border: none;
        cursor: pointer;
        color: white;
        font-size: 18px;
        font-weight: 500;
        line-height: 142.6%;
        display: flex;
        justify-content: space-between;
        padding: 10px;
        /* 25.668px */
    }

    .arrow {
        transition: transform 0.3s ease-in-out;
        transform-origin: 50% 40%;
    }

    .dropdown-content {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.5s;
    }

    p,
    ul {

        // margin-bottom: 40px;
        overflow: hidden;
        border-radius: 10px;
        font-size: 18px;
        list-style: none;
        line-height: 142.6%;
        padding: 30px 20px;
        background-color: #F6F6F6;

        li {
            width: 100%;
        }

        /* 25.668px */
    }

    &.open {

        .dropdown-content {
            max-height: 500px;

        }

        .arrow {
            transform: rotate(180deg);
        }
    }
}