body {
    font-family: 'Montserrat', sans-serif;
    color: #FF6060;
    font-weight: 500;
    // padding-inline: 20px;
}

.container {
    margin: auto;
    // width: 100%;
    max-width: 1240px;
}

.to-upper-case {
    text-transform: uppercase;
}