.error {
    text-align: center;

    .quatre {
        font-size: 288px;
        font-weight: 700;
        line-height: 411px;
        letter-spacing: 0em;
    }

    .oops {
        font-size: 36px;
        font-weight: 500;
    }

    .retour {
        text-decoration: none;
        color: #FF6060;
        font-size: 18px;
    }
}