footer {
    max-width: 100% !important;
    color: white;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 209px;


    img {
        filter: brightness(0) invert(1);
        width: 122px;
        margin-bottom: 30px;
    }

    p {
        font-size: 24px;
    }
}

@media (max-width: 375px) {
    footer {
        margin: 0 !important;

        p {
            font-size: 12px;
        }
    }
}